@import 'icons.css'
@import 'color_palette'

body
    font-family: Roboto, sans-serif

#header
    padding: 1rem
    .logo
        a
            span
                background: url('../imgs/logo_framgia.png')
                display: inline-block
                width: 13.4rem
                height: 4rem
    .user-info
        line-height: 4rem
        color: $red-500
        font-weight: bold

#top-nav
    .tool-bar
        background: $red-600
        line-height: 5.6rem
        color: #FFF
        font-size: 1.6rem
        .search
            font-weight: bold
            .result-number
                padding: 0 0 0 1rem
                display: inline-block
        .mui-font-icon
            color: $red-50
            padding-left: 0
            font:
                weight: lighter
                size: 1.6rem

        // .count-cell
        //     .mui-text-field
        //         height: 5.6rem
        //         input
        //             padding:
        //                 left: 0
        //                 bottom: 1rem
        //             color: $yellow-50
        //             &:focus
        //                 border: 0
        //         label
        //             top: 1.2rem
        //             color: $yellow-50
        //             font-weight: normal
        //         &-focus-underline
        //             border-bottom-color: $yellow-50